.container-image2{
    height: 606px;
    background-image: url(../../images/Rectangle.png);
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
        h1{
            @extend %myfonts;
            color: #fff;
            font-size: 79px;
            font-weight: 700;
        }
        h2{
            @extend %myfonts;
            color: #fff;
            font-size: 19px;
        }
        @media(max-width:900px){
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 10px;
            }
        }
        @media(max-width:500px){
            h1{
                font-size: 30px;
            }
        }
    }
   
}
.container-bot{
    @extend %container;
    margin-top: 84px;
    display: flex;
    gap: 83px;
    .services{

        width: 235px;
        h3{
            @extend %myfonts;
            color: #636060;
            font-size: 17px;
        }
        h4{
            @extend %myfonts;
            color: #010101;
            font-size: 28px;
            margin: 9px 0 37px 0;
        }
        p{
            @extend %myfonts;
            color: #636060;
            font-size: 20px;
        }

    }

    
    .images{
        max-width: 924px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        gap: 33px;
        .image{
            margin-top: 23px;
            width: 286px;
            h5{
                @extend %myfonts;
                color: #343232;
                font-size: 19px;
                margin: 23px 0 9px 0;
            }
            p{
                width: 280px;
                @extend %myfonts;
                color: #636060;
                font-size: 18px;   
            }
        }
    }
   


}
@media (max-width:930px) {
    .container-bot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-bot .services{
        max-width: 470px;
        width: 100%;
    }
}